<%- include('_header.ejs') -%>
<form method="POST" action="/login">
    <div class="form-group">
        <label for="Inputname">User Name</label>
        <input type="text" class="form-control" name="username" id="inputname" aria-describedby="NameHelp" placeholder="Enter Name"> 
      </div>
  
    <div class="form-group">
      <label for="InputPassword1">Password</label>
      <input type="password" class="form-control" name="passwordHash" id="InputPassword1" placeholder="Password" style="text-align: left;">
    </div>
 
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>

<%- include('_footer.ejs') -%>